[Desktop Entry]
Name=xplico start
Encoding=UTF-8
Exec=menuexec "service xplico start"
Icon=parrot-xplico.png
StartupNotify=false
Terminal=true
Type=Application
Categories=14-12-xplico-service;14-services;
X-Parrot-Package=xplico
