[Desktop Entry]
Name=baksmali
Encoding=UTF-8
Exec=menuexec baksmali --help 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=07-reverseengineer;
X-Parrot-Package=smali
