[Desktop Entry]
Name=calculate jcop mifare keys
Encoding=UTF-8
Exec=menuexec mifarekeys.py -R RFIDIOt.rfidiot.READER_ACG -l /dev/ttyUSB0 -s 9600 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-03-rfid-nfc-tools;
X-Parrot-Package=python-rfidiot
