[Desktop Entry]
Name=ollydbg
Encoding=UTF-8
Exec=sh -c "menuexecg ollydbg"
Icon=parrot-ollydbg.png
StartupNotify=false
Terminal=false
Type=Application
Categories=09-01-debuggers;06-10-exploit-dev;
X-Parrot-Package=ollydbg
