[Desktop Entry]
Name=extundelete
Encoding=UTF-8
Exec=menuexec extundelete --help 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=12-03-digital-forensics;
X-Parrot-Package=extundelete
