[Desktop Entry]
Name=keepnote
Encoding=UTF-8
Exec=sh -c "menuexecg keepnote"
Icon=parrot-menu.png
StartupNotify=false
Terminal=false
Type=Application
Categories=13-03-documentation;
X-Parrot-Package=keepnote
