[Desktop Entry]
Name=jad
Encoding=UTF-8
Exec=menuexec "jad"
Icon=parrot-jad.png
StartupNotify=false
Terminal=true
Type=Application
Categories=07-reverseengineer;
X-Parrot-Package=jad
