[Desktop Entry]
Name=hydra-gtk
Encoding=UTF-8
Exec=menuexecg xhydra
Icon=parrot-menu.png
StartupNotify=false
Terminal=false
Type=Application
Categories=04-01-online-attacks;
X-Parrot-Package=hydra-gtk


