[Desktop Entry]
Name=apache2 start
Encoding=UTF-8
Exec=menuexec service apache2 start 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=14-02-httpd;
X-Parrot-Package=apache2
