[Desktop Entry]
Name=community / pro stop
Encoding=UTF-8
Exec=menuexec /opt/metasploit/scripts/stop.sh 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=14-09-metasploit-service;
X-Parrot-Package=metasploit
