[Desktop Entry]
Name=mmls
Encoding=UTF-8
Exec=menuexec mmls 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=12-07-forensic-imaging-tools;
X-Parrot-Package=sleuthkit
