[Desktop Entry]
Name=ffind
Encoding=UTF-8
Exec=menuexec ffind 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=12-04-forensic-analysis-tools;
X-Parrot-Package=sleuthkit
