[Desktop Entry]
Name=reaver
Encoding=UTF-8
Exec=menuexec reaver -h 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=10-02-wlan-stress-testing;
X-Parrot-Package=reaver
