[Desktop Entry]
Name=tsk_comparedir
Encoding=UTF-8
Exec=menuexec tsk_comparedir 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=12-03-digital-forensics;
X-Parrot-Package=sleuthkit
