[Desktop Entry]
Name=sbd
Encoding=UTF-8
Exec=menuexec sbd -h 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=08-01-os-backdoors;08-02-tunneling;
X-Parrot-Package=sbd
