[Desktop Entry]
Name=truecrypt
Encoding=UTF-8
Exec=menuexec truecrypt -h 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=13-01-evidence-management;
X-Parrot-Package=truecrypt
