[Desktop Entry]
Name=pev
Encoding=UTF-8
Exec=menuexec pev -h 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=12-05-forensic-carving-tools;
X-Parrot-Package=pev
