[Desktop Entry]
Name=md5deep
Encoding=UTF-8
Exec=menuexec md5deep -h 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=12-06-forensic-hashing-tools;
X-Parrot-Package=md5deep
