[Desktop Entry]
Name=wpscan
Encoding=UTF-8
Exec=menuexec wpscan --help 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=03-01-cms-identification;03-05-web-vulnerability-scanners;
X-Parrot-Package=wpscan
