[Desktop Entry]
Name=ike-scan
Encoding=UTF-8
Exec=menuexec ike-scan -h 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-16-vpn-analysis;
X-Parrot-Package=ike-scan
