[Desktop Entry]
Name=magicrescue
Encoding=UTF-8
Exec=menuexec magicrescue 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=12-05-forensic-carving-tools;
X-Parrot-Package=magicrescue
