[Desktop Entry]
Name=flasm
Encoding=UTF-8
Exec=menuexec flasm 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=09-03-misc-tools;
X-Parrot-Package=flasm
