[Desktop Entry]
Name=scalpel
Encoding=UTF-8
Exec=menuexec scalpel -h 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=12-05-forensic-carving-tools;
X-Parrot-Package=scalpel
