[Desktop Entry]
Name=ncat
Encoding=UTF-8
Exec=menuexec ncat -h 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-02-identify-live-hosts;01-09-service-fingerprinting;08-02-tunneling;
X-Parrot-Package=nmap
