[Desktop Entry]
Name=fiked
Encoding=UTF-8
Exec=menuexec fiked -h 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=07-04-network-spoofing;
X-Parrot-Package=fiked

