[Desktop Entry]
Name=thc-ssl-dos
Encoding=UTF-8
Exec=menuexec thc-ssl-dos -h 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=10-04-web-stress-testing;
X-Parrot-Package=thc-ssl-dos
