[Desktop Entry]
Name=netsniff-ng
Encoding=UTF-8
Exec=menuexec netsniff-ng -h 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=07-03-network-sniffers;
X-Parrot-Package=netsniff-ng
