[Desktop Entry]
Name=webscarab
Encoding=UTF-8
Exec=sh -c "menuexecg webscarab"
Icon=parrot-menu.png
StartupNotify=false
Terminal=false
Type=Application
Categories=03-04-web-crawlers;03-05-web-vulnerability-scanners;03-06-web-application-proxies;03-07-web-application-fuzzers;04-01-online-attacks;07-05-web-sniffers;
X-Parrot-Package=webscarab
