[Desktop Entry]
Name=mfoc
Encoding=UTF-8
Exec=menuexec mfoc -h 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-03-01-nfc-tools;
X-Parrot-Package=mfoc
