[Desktop Entry]
Name=metasploit diagnostic shell
Encoding=UTF-8
Exec=menuexec /opt/metasploit/diagnostic_shell 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-02-metasploit-framework;
X-Parrot-Package=metasploit
