[Desktop Entry]
Name=ewfverify
Encoding=UTF-8
Exec=menuexec ewfverify -h 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=12-07-forensic-imaging-tools;
X-Parrot-Package=ewf-tools
