[Desktop Entry]
Name=recordmydesktop
Encoding=UTF-8
Exec=menuexec recordmydesktop -h 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=13-02-media-capture;
X-Parrot-Package=recordmydesktop
