[Desktop Entry]
Name=gr-scan
Encoding=UTF-8
Exec=menuexec gr-scan --help 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-05-sdr-tools;
X-Parrot-Package=gr-scan
