[Desktop Entry]
Name=dhcpig
Encoding=UTF-8
Exec=menuexec pig.py -h 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=10-01-network-stress-testing;
X-Parrot-Package=dhcpig
