[Desktop Entry]
Name=affdiskprint
Encoding=UTF-8
Exec=menuexec affdiskprint -h 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=12-04-forensic-analysis-tools;
X-Parrot-Package=afflib-tools
