[Desktop Entry]
Name=dnsenum
Encoding=UTF-8
Exec=menuexec dnsenum -h 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-01-dns-analysis;
X-Parrot-Package=dnsenum
