[Desktop Entry]
Name=rfcat
Encoding=UTF-8
Exec=menuexec rfcat -h 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-05-sdr-tools;
X-Parrot-Package=rfcat
