[Desktop Entry]
Name=sslyze
Encoding=UTF-8
Exec=menuexec sslyze -h 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-13-ssl-analysis;01-09-service-fingerprinting;
X-Parrot-Package=sslyze
