[Desktop Entry]
Name=trace6
Encoding=UTF-8
Exec=menuexec trace6 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-08-route-analysis;
X-Parrot-Package=thc-ipv6
