[Desktop Entry]
Name=brute force hitag2
Encoding=UTF-8
Exec=menuexec hitag2brute.py -R RFIDIOt.rfidiot.READER_ACG -l /dev/ttyUSB0 -s 9600 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-03-03-rfidiot-acg;
X-Parrot-Package=python-rfidiot
