[Desktop Entry]
Name=genpmk
Encoding=UTF-8
Exec=menuexec genpmk 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-01-wireless-tools;
X-Parrot-Package=cowpatty
