[Desktop Entry]
Name=test frosch reader
Encoding=UTF-8
Exec=menuexec froschtest.py -R RFIDIOt.rfidiot.READER_FROSCH -l /dev/ttyUSB0 -s 9600 
Icon=parrot-menu.png
Name=test frosch reader
StartupNotify=false
Terminal=true
Type=Application
Categories=05-03-04-rfidiot-frosch;
X-Parrot-Package=python-rfidiot
