[Desktop Entry]
Name=test acg lahf
Encoding=UTF-8
Exec=menuexec testlahf.sh 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-03-03-rfidiot-acg;
X-Parrot-Package=python-rfidiot
