[Desktop Entry]
Name=fragmentation6
Encoding=UTF-8
Exec=menuexec fragmentation6 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=10-01-network-stress-testing;
X-Parrot-Package=thc-ipv6
