[Desktop Entry]
Name=macof
Encoding=UTF-8
Exec=menuexec macof -h 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=10-01-network-stress-testing;
X-Parrot-Package=dsniff
