[Desktop Entry]
Name=android-sdk
Encoding=UTF-8
Exec=menuexecg "android;${SHELL:-bash}"
Icon=parrot-menu.png
StartupNotify=false
Terminal=false
Type=Application
Categories=Development;Engineering;
X-Parrot-Package=android-sdk
