[Desktop Entry]
Name=rtpinsertsound
Encoding=UTF-8
Exec=menuexec "rtpinsertsound -h"
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=02-03-voip-tools;
X-Parrot-Package=rtpinsertsound
