[Desktop Entry]
Name=rfcat
Encoding=UTF-8
Exec=menuexec "rfcat -h"
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-05-radio-tools;
X-Parrot-Package=rfcat
