[Desktop Entry]
Name=keepnote
Encoding=UTF-8
Exec=menuexecg "keepnote"
Icon=keepnote.png
StartupNotify=false
Terminal=false
Type=Application
Categories=12-reporting;
X-Parrot-Package=keepnote
