[Desktop Entry]
Name=hexorbase
Encoding=UTF-8
Exec=sh -c "menuexecg hexorbase"
Icon=parrot-hexorbase.png
StartupNotify=false
Terminal=false
Type=Application
Categories=02-05-database-assessment;
X-Parrot-Package=hexorbase
