[Desktop Entry]
Name=cewl
Encoding=UTF-8
Exec=menuexec cewl --help 
Icon=parrot-cewl.png
StartupNotify=false
Terminal=true
Type=Application
Categories=04-01-online-attacks;
X-Parrot-Package=cewl
