[Desktop Entry]
Name=tcpflow
Encoding=UTF-8
Exec=menuexec tcpflow -h 
Icon=parrot-termineter.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-05-network-traffic-analysis;07-03-network-sniffers;
X-Parrot-Package=tcpflow
