[Desktop Entry]
Name=arachni_web
Encoding=UTF-8
Exec=menuexec arachni_web 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=03-05-web-vulnerability-scanners;
X-Parrot-Package=arachni
