[Desktop Entry]
Name=mitmf
Encoding=UTF-8
Exec=menuexec mitmf -h
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=09-01-network-sniffers;09-02-network-spoofing;
X-Parrot-Package=mitmf
