[Desktop Entry]
Name=ophcrack
Encoding=UTF-8
Exec=sh -c "menuexecg ophcrack"
Icon=parrot-openvas.png
StartupNotify=false
Terminal=false
Type=Application
Categories=04-02-offline-attacks;
X-Parrot-Package=ophcrack
