[Desktop Entry]
Name=radare2
Encoding=UTF-8
Exec=menuexec radare2 -h 
Icon=parrot-radare2.png
StartupNotify=false
Terminal=true
Type=Application
Categories=09-03-misc-tools;
X-Parrot-Package=radare2
