[Desktop Entry]
Name=cmospwd
Encoding=UTF-8
Exec=menuexec cmospwd 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=04-02-offline-attacks;
X-Parrot-Package=cmospwd
