[Desktop Entry]
Name=btscanner
Encoding=UTF-8
Exec=menuexec "btscanner -h"
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-02-bluetooth-tools;
X-Parrot-Package=btscanner
