[Desktop Entry]
Name=dff gui
Encoding=UTF-8
Exec=menuexec "dff -g"
Icon=parrot-dff.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-forensics;top10
X-Parrot-Package=dff
