[Desktop Entry]
Name=mitmproxy
Encoding=UTF-8
Exec=menuexec mitmproxy -h 
Icon=parrot-mitmproxy.png
StartupNotify=false
Terminal=true
Type=Application
Categories=07-05-web-sniffers;
X-Parrot-Package=mitmproxy
