[Desktop Entry]
Name=jboss-autopwn-win
Encoding=UTF-8
Exec=menuexec jboss-win 
Icon=parrot-jboss-autopwn.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-04-network-exploitation;
X-Parrot-Package=jboss-autopwn
