[Desktop Entry]
Name=webshag-gui
Encoding=UTF-8
Exec=menuexec "webshag-gui"
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=03-05-web-vulnerability-scanners;
X-Parrot-Package=webshag
