[Desktop Entry]
Name=metasploit framework
Encoding=UTF-8
Exec=menuexec systemctl start postgresql && msfdb init && msfdb start && msfconsole"
Icon=parrot-metasploit.png
StartupNotify=false
Terminal=true
Type=Application
Categories=08-01-metasploit-framework;
X-Parrot-Package=metasploit-framework
