[Desktop Entry]
Name=NASM shell
Encoding=UTF-8
Exec=menuexec cd /usr/share/metasploit-framework/tools && ./nasm_shell.rb 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-10-exploit-dev;
X-Parrot-Package=metasploit-framework
