[Desktop Entry]
Name=ettercap-text
Encoding=UTF-8
Exec=menuexecg "ettercap -h"
Icon=parrot-ettercap.png
StartupNotify=false
Terminal=false
Type=Application
Categories=07-04-network-spoofing;07-03-network-sniffers;
X-Parrot-Package=ettercap-text-only
