[Desktop Entry]
Name=read mifare
Encoding=UTF-8
Exec=menuexec readmifaresimple.py -R RFIDIOt.rfidiot.READER_PCSC 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-03-rfid-nfc-tools;
X-Parrot-Package=python-rfidiot
