[Desktop Entry]
Name=vega
Encoding=UTF-8
Exec=menuexecg "vega"
Icon=parrot-vega.png
StartupNotify=false
Terminal=false
Type=Application
Categories=03-webapp-analysis;top10
X-Parrot-Package=vega
