[Desktop Entry]
Name=armitage
Encoding=UTF-8
Exec=menuexecg armitage 
Icon=parrot-armitage.png
StartupNotify=false
Terminal=false
Type=Application
Categories=06-04-network-exploitation;06-02-metasploit-framework
X-Parrot-Package=armitage
