[Desktop Entry]
Name=svcrack
Encoding=UTF-8
Exec=menuexec svcrack -h 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=07-02-voip-tools;
X-Parrot-Package=sipvicious
