[Desktop Entry]
Name=tsk_gettimes
Encoding=UTF-8
Exec=menuexec tsk_gettimes -h 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=12-07-forensic-imaging-tools;
X-Parrot-Package=sleuthkit
