[Desktop Entry]
Name=vfeedcli
Encoding=UTF-8
Exec=menuexec vfeedcli
Icon=parrot-vfeedcli.png
StartupNotify=false
Terminal=true
Type=Application
Categories=08-exploitation-tools;
X-Parrot-Package=vfeed
