[Desktop Entry]
Name=padbuster
Encoding=UTF-8
Exec=menuexec padbuster 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=03-05-web-vulnerability-scanners;
X-Parrot-Package=padbuster
