[Desktop Entry]
Name=slowhttptest
Encoding=UTF-8
Exec=menuexec slowhttptest -h 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=10-04-web-stress-testing;
X-Parrot-Package=slowhttptest
