#!/usr/bin/env xdg-open
[Desktop Entry]
Name=hydra-gtk
Encoding=UTF-8
Exec=menuexecg "xhydra -h"
Icon=parrot-menu.png
StartupNotify=false
Terminal=false
Type=Application
Categories=05-01-online-attacks;
X-Parrot-Package=hydra-gtk


