[Desktop Entry]
Name=ettercap-text
Encoding=UTF-8
Exec=menuexecg "ettercap -h"
Icon=parrot-ettercap.png
StartupNotify=false
Terminal=false
Type=Application
Categories=09-sniffing-spoofing;
X-Parrot-Package=ettercap-text-only
