[Desktop Entry]
Name=safecopy
Encoding=UTF-8
Exec=menuexec "safecopy -h"
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-05-forensic-carving-tools;
X-Parrot-Package=safecopy
