[Desktop Entry]
Name=zbfind
Encoding=UTF-8
Exec=menuexecg "zbfind"
Icon=parrot-menu.png
StartupNotify=false
Terminal=false
Type=Application
Categories=06-04-other-wireless;
X-Parrot-Package=killerbee
