[Desktop Entry]
Name=dex2jar
Encoding=UTF-8
Exec=menuexec "d2j-dex2jar -h"
Icon=parrot-dex2jar.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-01-android-tools;07-reverseengineer;
X-Parrot-Package=dex2jar
