[Desktop Entry]
Name=shellnoob
Encoding=UTF-8
Exec=menuexec "shellnoob"
Icon=parrot-shellnoob.png
StartupNotify=false
Terminal=true
Type=Application
Categories=08-exploitation-tools;
X-Parrot-Package=shellnoob
