[Desktop Entry]
Name=dbpwaudit
Encoding=UTF-8
Exec=menuexec "dbpwaudit"
Icon=parrot-dbpwaudit.png
StartupNotify=false
Terminal=true
Type=Application
Categories=04-database-assessment;05-01-online-attacks;
X-Parrot-Package=dbpwaudit
