[Desktop Entry]
Name=zenmap
Encoding=UTF-8
Exec=menuexecg "zenmap;${SHELL:-bash}"
Icon=/usr/share/zenmap/pixmaps/zenmap.png
StartupNotify=false
Terminal=false
Type=Application
Categories=01-info-gathering;01-04-network-scanners;
X-Parrot-Package=zenmap
