[Desktop Entry]
Name=ssdeep
Encoding=UTF-8
Exec=menuexec "ssdeep -h"
Icon=parrot-ssdeep.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-forensics;
X-Parrot-Package=ssdeep
