[Desktop Entry]
Name=sslstrip
Encoding=UTF-8
Exec=menuexec "sslstrip -h"
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=09-02-network-spoofing;
X-Parrot-Package=sslstrip
