[Desktop Entry]
Name=armitage
Encoding=UTF-8
Exec=menuexecg "armitage;${SHELL:-bash}"
Icon=parrot-armitage.png
StartupNotify=false
Terminal=false
Type=Application
Categories=08-exploitation-tools;
X-Parrot-Package=armitage
