[Desktop Entry]
Name=maltego
Encoding=UTF-8
Exec=sh -c "menuexecg maltego"
Icon=parrot-maltego.png
StartupNotify=false
Terminal=false
Type=Application
Categories=01-01-dns-analysis;01-07-osint-analysis;02-04-open-source-assessment;13-01-evidence-management;top10;
X-Parrot-Package=maltego
