[Desktop Entry]
Name=plecost
Encoding=UTF-8
Exec=menuexec plecost -h 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=03-01-cms-identification;
X-Parrot-Package=plecost
