[Desktop Entry]
Name=driftnet
Encoding=UTF-8
Exec=menuexec "driftnet -h"
Icon=parrot-driftnet.png
StartupNotify=false
Terminal=true
Type=Application
Categories=09-sniffing-spoofing;
X-Parrot-Package=driftnet
