[Desktop Entry]
Name=miredo
Encoding=UTF-8
Exec=menuexec "miredo -h"
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=10-02-tunneling;
X-Parrot-Package=miredo
