[Desktop Entry]
Name=firewalk
Encoding=UTF-8
Exec=menuexec "firewalk"
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-03-ids-ips-identification;01-02-identify-live-hosts;
X-Parrot-Package=firewalk
