[Desktop Entry]
Name=mmcat
Comment=Output the contents of a partition to stdout
Encoding=UTF-8
Exec=menuexec "mmcat"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=11-08-forensic-suites;
X-Parrot-Package=sleuthkit
