[Desktop Entry]
Name=wfuzz
Encoding=UTF-8
Exec=menuexec "wfuzz"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=03-04-web-crawlers;
Comment=A web application fuzzer
X-Parrot-Package=wfuzz
