[Desktop Entry]
Name=istat
Comment=Display details of a meta-data structure (i.e. inode)
Encoding=UTF-8
Exec=menuexec "istat"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=11-08-forensic-suites;
X-Parrot-Package=sleuthkit
