[Desktop Entry]
Name=crunch
Encoding=UTF-8
Exec=menuexec "crunch"
Icon=parrot-crunch.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-02-offline-attacks;
X-Parrot-Package=crunch
