[Desktop Entry]
Name=flood_advertise6
Comment=Flood the local network with neighbor advertisements
Encoding=UTF-8
Exec=menuexec atk6-flood_advertise6 
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=02-07-stress-testing;04-07-ipv6
X-Parrot-Package=thc-ipv6
