[Desktop Entry]
Name=dictstat
Comment=Password generator
Encoding=UTF-8
Exec=menuexec "dictstat -h"
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-02-offline-attacks;
X-Parrot-Package=pack
