[Desktop Entry]
Name=deblaze
Comment=Brute Force service and method names, flex technology fingerprinting
Encoding=UTF-8
Exec=menuexec "deblaze.py -h"
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=03-05-web-vulnerability-scanners;
X-Parrot-Package=deblaze
