[Desktop Entry]
Name=airgeddon
Comment=Audit wireless network toolkit
Encoding=UTF-8
Exec=menuexec "/usr/bin/airgeddon"
Icon=parrot-airgeddon.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-01-wireless-tools;06-wireless-attacks;top10;
X-Parrot-Package=airgeddon
