[Desktop Entry]
Name=netdiscover
Encoding=UTF-8
Exec=menuexec "netdiscover -h"
Icon=parrot-netdiscover.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-info-gathering;
X-Parrot-Package=netdiscover
