[Desktop Entry]
Name=cloud-enum
Encoding=UTF-8
Exec=parrot-exec "cloud_enum -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=01-07-osint-analysis;
Comment=Enumerate public cloud platforms matching keywords
X-Parrot-Package=cloud-enum