[Desktop Entry]
Name=nginx restart
Encoding=UTF-8
Exec=service nginx restart 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=14-02-httpd;
X-Parrot-Package=nginx
