[Desktop Entry]
Name=candump
Comment=Display, filter and log CAN data to files
Encoding=UTF-8
Exec=menuexec candump -h
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=13-01-can-utils
X-Parrot-Package=can-utils
