[Desktop Entry]
Name=postgresql restart
Encoding=UTF-8
Exec=/usr/sbin/service postgresql restart
Icon=parrot-menu.png
StartupNotify=false
Terminal=false
Type=Application
Categories=14-05-postgresql;
X-Parrot-Package=postgresql
