[Desktop Entry]
Name=sshd restart
Encoding=UTF-8
Exec=/usr/sbin/service ssh restart 
Icon=parrot-menu.png
StartupNotify=false
Terminal=false
Type=Application
Categories=14-06-sshd;
Comment=Restart the ssh service
X-Parrot-Package=openssh-server
