[Desktop Entry]
Name=flood_advertise6
Encoding=UTF-8
Exec=menuexec atk6-flood_advertise6 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=02-07-stress-testing;03-09-ipv6
X-Parrot-Package=thc-ipv6
