[Desktop Entry]
Name=jd-gui
Comment=Java decompiler (GUI)
Encoding=UTF-8
Exec=parrot-exec --gui "jd-gui"
Icon=parrot_jd-gui
StartupNotify=false
Terminal=false
Type=Application
Categories=07-03-decompilers;
X-Parrot-Package=jd-gui
