[Desktop Entry]
Name=wig
Encoding=UTF-8
Exec=bash -c "wig -h;bash"
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=03-webapp-analysis;03-01-cms-identification;03-05-web-vulnerability-scanners;
X-Parrot-Package=wig
