[Desktop Entry]
Name=readpe
Comment=Text-based tool to analyze PE files
Encoding=UTF-8
Exec=parrot-exec "readpe -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=11-05-forensic-carving-tools;
X-Parrot-Package=pev
