[Desktop Entry]
Name=lsadump
Comment=Dump LSA secrets
Encoding=UTF-8
Exec=menuexec "lsadump -h"
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-03-local-attacks;
X-Parrot-Package=creddump

