[Desktop Entry]
Name=canplayer
Comment=Replay CAN logfiles
Encoding=UTF-8
Exec=menuexec canplayer -h
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=13-01-can-utils
X-Parrot-Package=can-utils
