[Desktop Entry]
Name=flood_dhcpc6
Comment=flood_dhcpc6
Encoding=UTF-8
Exec=menuexec atk6-flood_dhcpc6 
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=02-07-stress-testing;04-07-ipv6
X-Parrot-Package=thc-ipv6
