[Desktop Entry]
Name=format mifare 1k value blocks
Encoding=UTF-8
Exec=menuexec formatmifare1kvalue.py -R RFIDIOt.rfidiot.READER_ACG -l /dev/ttyUSB0 -s 9600 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-03-rfid-nfc-tools;
Comment=format value blocks on a mifare standard tag.
X-Parrot-Package=python-rfidiot
