[Desktop Entry]
Name=gr-scan
Comment=Scan a range of frequencies and print a list of discovered signals
Encoding=UTF-8
Exec=menuexec "gr-scan --help"
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-05-radio-tools;
X-Parrot-Package=gr-scan
