[Desktop Entry]
Name=svmap
Encoding=UTF-8
Exec=menuexec "svmap -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=02-03-voip-tools;
Comment=A SIP scanner
X-Parrot-Package=sipvicious
