[Desktop Entry]
Name=jadx - CLI
Encoding=UTF-8
Exec=parrot-exec "jadx -h"
Icon=xterm
StartupNotify=false
Terminal=false
Type=Application
Categories=07-03-decompilers;
Comment=Dex to java decompiler (CLI)
X-Parrot-Package=jadx