[Desktop Entry]
Name=weevely
Encoding=UTF-8
Exec=parrot-exec "weevely"
Icon=parrot-weevely.png
StartupNotify=false
Terminal=true
Type=Application
Categories=10-03-web-backdoors;top10
Comment=Weaponized web shell
X-Parrot-Package=weevely
