[Desktop Entry]
Name=pth-smbclient
Encoding=UTF-8
Exec=menuexec "pth-smbclient -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=08-03-pth
Comment=Browses available shares on remote computers using NTLM hash
X-Parrot-Package=passing-the-hash
