[Desktop Entry]
Name=faraday IDE
Comment=Collaborative Penetration Test and Vulnerability Management Platform 
Encoding=UTF-8
Exec=menuexec "python-faraday"
Icon=parrot-faraday.png
StartupNotify=false
Terminal=true
Type=Application
Categories=12-reporting;
X-Parrot-Package=python-faraday
