[Desktop Entry]
Name=sslscan
Encoding=UTF-8
Exec=menuexec "sslscan"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=01-13-ssl-analysis;
Comment=Fast SSL/TLS scanner
X-Parrot-Package=sslscan
