[Desktop Entry]
Name=baksmali
Encoding=UTF-8
Exec=parrot-exec baksmali --help 
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=07-01-disassemblers;
Comment=An disassembler tool for the dex format used by dalvik
X-Parrot-Package=smali