[Desktop Entry]
Name=ptunnel
Encoding=UTF-8
Exec=menuexec "ptunnel -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=10-02-tunneling;
Comment=Tunnel TCP connections over ICMP echo request/reply packets
X-Parrot-Package=ptunnel
