[Desktop Entry]
Name=cansniffer
Encoding=UTF-8
Exec=menuexec cansniffer
StartupNotify=false
Terminal=true
Type=Application
Categories=13-01-can-utils
X-Parrot-Package=can-utils
