[Desktop Entry]
Name=beef stop
Comment=Turn Browser Exploitation framework off
Encoding=UTF-8
Exec=service beef-xss stop
Icon=parrot-beef.png
StartupNotify=false
Terminal=true
Type=Application
Categories=14-08-beef-service;
X-Parrot-Package=beef-xss
