[Desktop Entry]
Name=rcracki_mt
Encoding=UTF-8
Exec=parrot-exec --sudo "rcracki_mt"
Icon=parrot_rcracki_mt
StartupNotify=false
Terminal=true
Type=Application
Categories=05-02-offline-attacks;
Comment=RainbowCrack (improved, multi-threaded)
X-Parrot-Package=rcracki-mt
