[Desktop Entry]
Name=sparta
Encoding=UTF-8
Exec=menuexec "sparta"
Icon=parrot-sparta.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-info-gathering;
Comment=A GUI network analyser
X-Parrot-Package=sparta
