[Desktop Entry]
Name=sslsplit
Encoding=UTF-8
Exec=menuexec "sslsplit -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=09-02-network-spoofing;
Comment=A tool for man-in-the-middle attacks against SSL/TLS encrypted network connections
X-Parrot-Package=sslsplit
