[Desktop Entry]
Name=cewl
Comment=Get keywords from website, generate wordlist
Encoding=UTF-8
Exec=parrot-exec --sudo "cewl --help"
Icon=parrot_cewl
StartupNotify=false
Terminal=true
Type=Application
Categories=05-05-profile;
X-Parrot-Package=cewl
