[Desktop Entry]
Name=jsql
Comment=Java tool for automatic database injection (GUI)
Encoding=UTF-8
Exec=menuexecg "jsql"
Icon=parrot-jsql.png
StartupNotify=false
Terminal=false
Type=Application
Categories=03-05-web-vulnerability-scanners;08-05-web-exploit
X-Parrot-Package=jsql-injection
