[Desktop Entry]
Name=smbmap
Encoding=UTF-8
Exec=menuexec "smbmap -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=01-10-smb-analysis
Comment=SMB enumeration tool
X-Parrot-Package=smbmap
