[Desktop Entry]
Name=dirb
Comment=OWASP Web Content Scanner
Encoding=UTF-8
Exec=parrot-exec "dirb"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=03-04-web-crawlers;
X-Parrot-Package=dirb
