[Desktop Entry]
Name=dnsmap
Comment=Subdomain brute-forcing
Encoding=UTF-8
Exec=parrot-exec "dnsmap"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=01-01-dns-analysis;
X-Parrot-Package=dnsmap
