[Desktop Entry]
Name=rahash2
Encoding=UTF-8
Exec=parrot-exec "rahash2 -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=11-07-forensic-imaging-tools;
Comment=Block based hashing utility
X-Parrot-Package=radare2
