[Desktop Entry]
Name=amass
Comment=Ultimate DNS enumeration by Brute forcing, scraping from OSINT, pulling from Certificates
Encoding=UTF-8
Exec=menuexec "amass"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=01-01-dns-analysis;
X-Parrot-Package=amass
