[Desktop Entry]
Name=nishang
Encoding=UTF-8
Exec=menuexec nishang
Icon=parrot-nishang.png
StartupNotify=false
Terminal=true
Type=Application
Categories=10-03-web-backdoors;
X-Parrot-Package=nishang
