[Desktop Entry]
Name=dnstracer
Comment=Get information from for a given hostname, and follows the chain of DNS servers back to the authoritative answer
Encoding=UTF-8
Exec=menuexec "dnstracer"
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-01-dns-analysis;
X-Parrot-Package=dnstracer
