[Desktop Entry]
Name=rtfobj
Comment=Extract embedded objects from RTF files
Encoding=UTF-8
Exec=parrot-exec "rtfobj -h"
Icon=xterm.png
StartupNotify=false
Terminal=true
Type=Application
Categories=07-06-oletools;
X-Parrot-Package=oletools
