[Desktop Entry]
Name=mc
Comment=Text-mode full-screen file manager
Encoding=UTF-8
Exec=menuexec mc --help 
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=11-03-digital-forensics;
X-Parrot-Package=mc
