[Desktop Entry]
Name=above
Comment=Invisible protocol sniffer for finding vulnerabilities in the network
Encoding=UTF-8
Exec=parrot-exec --hint "pipx install above" "above -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=09-sniffing-spoofing;
