[Desktop Entry]
Name=Dumpzilla 
Comment=Extract all forensic interesting information of Firefox, Iceweasel and Seamonkey browsers
Encoding=UTF-8
Exec=parrot-exec dumpzilla
Icon=parrot-menu.png
StartupNotify=false
Terminal=false
Type=Application
Categories=08-02-hash-dump;
X-Parrot-Package=dumpzilla