[Desktop Entry]
Name=apache-users
Comment=Enumerate the usernames on Apache systems with the UserDir module
Encoding=UTF-8
Exec=menuexec apache-users
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=03-04-web-crawlers;
X-Parrot-Package=apache-users
