[Desktop Entry]
Name=rtl_sdr
Encoding=UTF-8
Exec=menuexec "rtl_sdr"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=06-05-radio-tools;
Comment=Enables saving raw samples into a file
X-Parrot-Package=librtlsdr-bin
