[Desktop Entry]
Name=dwarf2json
Comment=Processing DWARF and symbol table information from ELF files and symbols from System.map
Encoding=UTF-8
Exec=parrot-exec "dwarf2json --help"
Icon=parrot-foremost.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-forensics;
X-Parrot-Package=dwarf2json
