[Desktop Entry]
Name=kerberoast
Comment=Kerberoast is a series of tools for attacking MS Kerberos implementations
Encoding=UTF-8
Exec=parrot-ls /usr/share/kerberoast
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=01-info-gathering;08-post-exploit;
X-Parrot-Package=kerberoast
