[Desktop Entry]
Name=nginx stop
Comment=Stop nginx httpd service
Encoding=UTF-8
Exec=/usr/sbin/service nginx stop 
Icon=parrot-menu.png
StartupNotify=false
Terminal=false
Type=Application
Categories=14-02-httpd;
X-Parrot-Package=nginx
