[Desktop Entry]
Name=ua-tester
Encoding=UTF-8
Exec=menuexec "ua-tester"
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=03-01-cms-identification;
Comment=Automatically check a given URL
X-Parrot-Package=ua-tester
