[Desktop Entry]
Name=hexstrike mcp
Comment=AI-powered offensive security framework
Encoding=UTF-8
Exec=/usr/bin/hexstrike_mcp
Icon=parrot_hexstrike
StartupNotify=false
Terminal=true
Type=Application
Categories=14-ai-tools;
X-Parrot-Package=hexstrike-ai
