[Desktop Entry]
Name=nginx start
Encoding=UTF-8
Exec=menuexec service nginx start 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=14-02-httpd;
X-Parrot-Package=nginx
