[Desktop Entry]
Name=seclists
Encoding=UTF-8
Exec=parrot-ls "/usr/share/seclists/"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=05-05-profile;
Comment=Collection of multiple types of security lists
X-Parrot-Package=seclists
