[Desktop Entry]
Name=mimikatz
Comment=Uses admin rights on Windows to display passwords of currently logged in users in plaintext
Encoding=UTF-8
Exec=parrot-ls /usr/share/mimikatz
Icon=parrot-mimikatz.png
StartupNotify=false
Terminal=true
Type=Application
Categories=08-post-exploit
X-Parrot-Package=mimikatz
