[Desktop Entry]
Name=pipal
Comment=Statistical analysis on password dumps: password length, charset
Encoding=UTF-8
Exec=menuexec "pipal -h"
Icon=parrot-pipal.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-05-profile;
X-Parrot-Package=pipal
