[Desktop Entry]
Name=sipcrack
Encoding=UTF-8
Exec=menuexec "sipcrack -h"
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-02-offline-attacks;
Comment=A remote password cracker
X-Parrot-Package=sipcrack
