[Desktop Entry]
Name=pompem
Encoding=UTF-8
Exec=parrot-exec pompem -h
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=04-03-exploit-search;
Comment=Exploit and Vulnerability Finder
X-Parrot-Package=pompem
