[Desktop Entry]
Name=canfdtest
Comment=Full-duplex test program (DUT and host part)
Encoding=UTF-8
Exec=menuexec canfdtest
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=13-01-can-utils
X-Parrot-Package=can-utils
