[Desktop Entry]
Name=test acg lahf
Encoding=UTF-8
Exec=menuexec testlahf.sh 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-03-rfid-nfc-tools;
Comment=Test an ACG LAHF reader by selecting a TAG and displaying it's UID on both the LF and HF elements.
X-Parrot-Package=python-rfidiot
