[Desktop Entry]
Name=svcrack
Encoding=UTF-8
Exec=menuexec "svcrack -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=02-03-voip-tools;
Comment=A password cracker
X-Parrot-Package=sipvicious
