[Desktop Entry]
Name=hyperion
Encoding=UTF-8
Exec=parrot-exec wine /usr/share/hyperion/hyperion.exe
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=10-04-av-bypass;
Comment=Runtime encrypter for 32-bit portable executables with AES-128
X-Parrot-Package=hyperion
