[Desktop Entry]
Name=goshs
Comment=lightweight web server written in go
Encoding=UTF-8
Exec=parrot-exec /usr/bin/goshs
Icon=parrot_goshs
StartupNotify=false
Terminal=true
Type=Application
Categories=03-06-web-application-proxies
X-Parrot-Package=goshs
