[Desktop Entry]
Name=thc-ssl-dos
Encoding=UTF-8
Exec=menuexec "thc-ssl-dos -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=02-07-stress-testing;
Comment=A DDOS tool
X-Parrot-Package=thc-ssl-dos
