[Desktop Entry]
Name=bulk_extractor
Comment=Scans a disk image for regular expressions and other content.
Encoding=UTF-8
Exec=parrot-exec --hint "see github.com/simsong/bulk_extractor" "bulk_extractor -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=11-forensics;
