[Desktop Entry]
Name=ohrwurm
Comment=A small and simple RTP
Encoding=UTF-8
Exec=menuexec "ohrwurm"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=02-03-voip-tools;02-02-fuzzers;
X-Parrot-Package=ohrwurm
