[Desktop Entry]
Name=GVM Check Setup
Comment=Verify installation of Greenbone Vulnerability Manager (OpenVas)
Encoding=UTF-8
Exec=parrot-exec --sudo "gvm-check-setup"
Icon=parrot_OpenVas
StartupNotify=false
Terminal=true
Type=Application
Categories=serv-11-openvas-service;02-06-openvas;
X-Parrot-Package=gvm
