[Desktop Entry]
Name=Empire
Comment=PowerShell and Python post-exploitation tool
Encoding=UTF-8
Exec=menuexec powershell-empire
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=10-01-os-backdoors;
X-Parrot-Package=powershell-empire
