[Desktop Entry]
Type=Application
Name=Cutter
Exec=cutter
Icon=cutter
Comment=QT GUI for rizin dissembler framework
Categories=07-reverseengineer;
X-Parrot-Package=rizin-cutter
