[Desktop Entry]
Name=ext4magic
Comment=Recover deleted files on ext3/4 filesystems
Encoding=UTF-8
Exec=parrot-exec "ext4magic"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=11-05-forensic-carving-tools;
X-Parrot-Package=ext4magic