[Desktop Entry]
Name=asleap
Comment=Cisco LEAP and Generic MS-CHAPv2 Dictionary Attack
Encoding=UTF-8
Exec=menuexec asleap -h
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=06-01-wireless-tools;
X-Parrot-Package=asleap
