[Desktop Entry]
Name=impacket
Comment=A collection of Python classes for working with network protocols
Encoding=UTF-8
Exec=parrot-exec --ls "/usr/share/doc/python3-impacket/examples"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=09-sniffing-spoofing;
X-Parrot-Package=python3-impacket
