[Desktop Entry]
Name=dbd
Comment=netcat clone with encryption
Encoding=UTF-8
Exec=parrot-exec "dbd -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=01-04-network-scanners;
X-Parrot-Package=dbd
