[Desktop Entry]
Name=volatility - vol
Encoding=UTF-8
Exec=parrot-exec "vol -h"
Icon=parrot-volatility.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-forensics;
Comment=Advanced memory forensics framework
X-Parrot-Package=volatility3