[Desktop Entry]
Name=dnschef
Comment=Configurable DNS proxy for Penetration Testers and Malware Analysts
Encoding=UTF-8
Exec=menuexec "dnschef -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=09-02-network-spoofing;
X-Parrot-Package=dnschef
