[Desktop Entry]
Name=iaxflood
Comment=Flood the IAX protocol
Encoding=UTF-8
Exec=menuexec "iaxflood"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=02-03-voip-tools;02-07-stress-testing;
X-Parrot-Package=iaxflood
