[Desktop Entry]
Name=mfterm
Encoding=UTF-8
Exec=menuexec "mfterm -h"
Icon=parrot-mfterm.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-03-rfid-nfc-tools;
X-Parrot-Package=mfterm
