[Desktop Entry]
Name=rz-hash — block based hashing utility
Encoding=UTF-8
Exec=parrot-exec "rz-hash -h"
Icon=parrot-rizin.png
StartupNotify=false
Terminal=true
Type=Application
Categories=07-05-rizin;
Comment=Calculate, check and show the hash values of each block of a target file
X-Parrot-Package=rizin
