[Desktop Entry]
Name=osrframework
Encoding=UTF-8
Exec=parrot-exec "osrframework-cli -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=01-07-osint-analysis;
Comment=OSINT tool for username checking, DNS lookups, information leaks research, deep web search and more
X-Parrot-Package=osrframework
