[Desktop Entry]
Name=ubertooth util
Encoding=UTF-8
Exec=menuexec "ubertooth-util -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=06-04-other-wireless;
Comment=Wireless development platform for Bluetooth experimentation
X-Parrot-Package=ubertooth
