[Desktop Entry]
Name=dhcpig
Comment=Advanced DHCP exhaustion attack
Encoding=UTF-8
Exec=menuexec "dhcpig -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=02-07-stress-testing;
X-Parrot-Package=dhcpig
