[Desktop Entry]
Name=webacoo
Encoding=UTF-8
Exec=menuexec "webacoo -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=10-03-web-backdoors;
Comment=Web Backdoor Cookie Script-Kit
X-Parrot-Package=webacoo
