[Desktop Entry]
Name=wifi-honey
Encoding=UTF-8
Exec=menuexec "wifi-honey -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=06-01-wireless-tools;09-02-network-spoofing;
Comment=Create a fake wifi AP
X-Parrot-Package=wifi-honey
