[Desktop Entry]
Name=copy-router-config
Comment=Copies Cisco configs via SNMP
Encoding=UTF-8
Exec=menuexec "copy-router-config.pl"
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=02-01-cisco-tools;06-01-cisco-attacks;
X-Parrot-Package=copy-router-config
