[Desktop Entry]
Name=ssdeep
Encoding=UTF-8
Exec=parrot-exec --sudo "ssdeep -h"
Icon=parrot_ssdeep
StartupNotify=false
Terminal=true
Type=Application
Categories=11-forensics;
Comment=Compute context triggered piecewise hashes (fuzzy hashes)
X-Parrot-Package=ssdeep
