[Desktop Entry]
Name=sfuzz
Encoding=UTF-8
Exec=menuexec "sfuzz -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=02-02-fuzzers;
Comment=Simple Fuzzer
X-Parrot-Package=sfuzz
