[Desktop Entry]
Name=mraptor
Comment=Detect malicious VBA Macros
Encoding=UTF-8
Exec=parrot-exec --hint "pipx install oletools" "mraptor -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=07-06-oletools;
