[Desktop Entry]
Name=rahash2
Encoding=UTF-8
Exec=pentestexec "rahash2 -h"
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-07-forensic-imaging-tools;
Comment=Block based hashing utility
X-Parrot-Package=radare2
