[Desktop Entry]
Name=mdb-tables
Comment=Get listing of tables in an MDB database
Encoding=UTF-8
Exec=parrot-exec --sudo mdb-tables 
Icon=parrot_mdb-sql
StartupNotify=false
Terminal=true
Type=Application
Categories=04-06-db-exploit;
X-Parrot-Package=mdbtools
