[Desktop Entry]
Name=slowhttptest
Encoding=UTF-8
Exec=menuexec "slowhttptest -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=02-07-stress-testing;
Comment=Tool that simulates some Application Layer Denial of Service attacks 
X-Parrot-Package=slowhttptest
