[Desktop Entry]
Name=affcat
Comment=Get outputs the contents of an image file
Encoding=UTF-8
Exec=menuexec affcat -h
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=11-07-forensic-imaging-tools;
X-Parrot-Package=afflib-tools
