[Desktop Entry]
Name=parsero
Comment=Fast robots.txt checker written in Python
Encoding=UTF-8
Exec=parrot-exec parsero
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=03-webapp-analysis;
X-Parrot-Package=parsero