[Desktop Entry]
Name=vinetto
Encoding=UTF-8
Exec=menuexec "vinetto -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=11-04-forensic-analysis-tools;
Comment=Extract  thumbnails  and associated metadata from Thumbs.db files
X-Parrot-Package=vinetto
