[Desktop Entry]
Name=python3-shodan
Encoding=UTF-8
Exec=pentestexec "shodan -h"
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-07-osint-analysis;
Comment=Search engine for Internet-connected devices
X-Parrot-Package=python3-shodan
