[Desktop Entry]
Name=udptunnel
Encoding=UTF-8
Exec=menuexec "udptunnel -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=10-02-tunneling;
Comment=Tunnel UDP packets over a TCP connection
X-Parrot-Package=udptunnel
