[Desktop Entry]
Name=beef xss framework
Comment=Browser Exploitation framework
Encoding=UTF-8
Exec=menuexec beef-xss
Icon=parrot-beef.png
StartupNotify=false
Terminal=true
Type=Application
Categories=04-05-web-exploit;04-02-social-engineering;
X-Parrot-Package=beef-xss
