[Desktop Entry]
Name=wifiarp
Encoding=UTF-8
Exec=menuexec "wifiarp -h"
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-01-wireless-tools;
Comment=WiFi injection ARP tool
X-Parrot-Package=wifitap
