[Desktop Entry]
Name=chntpw
Comment=Resetting or blanking local passwords used by Windows NT, 2000, XP, Vista, 7, 8, 8.1 and 10
Encoding=UTF-8
Exec=menuexec "chntpw -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=05-03-local-attacks;
X-Parrot-Package=chntpw
