[Desktop Entry]
Name=isotpserver
Encoding=UTF-8
Exec=menuexec isotpserver
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=13-01-can-utils
X-Parrot-Package=can-utils
