[Desktop Entry]
Name=netcat
Comment=Network swiss army knife
Encoding=UTF-8
Exec=parrot-exec 'nc'
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=01-04-network-scanners;
X-Parrot-Package=netcat-openbsd
