[Desktop Entry]
Name=proxytunnel
Comment=Create tcp tunnels trough HTTPS proxies, for using with SSH
Encoding=UTF-8
Exec=menuexec "proxytunnel -h"
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=10-02-tunneling;
X-Parrot-Package=proxytunnel
