[Desktop Entry]
Name=Nessus stop
Comment=Stop Nessus vulnerability scanner service
Encoding=UTF-8
Exec=menuexec "/etc/init.d/nessusd stop"
Icon=parrot-nessus.png
StartupNotify=false
Terminal=true
Type=Application
Categories=02-08-nessus;14-services;
X-Parrot-Package=nessus
