[Desktop Entry]
Name=gr_plot_fft - Frequency domain GNU Radio plotting
Comment=Takes a GNU Radio complex binary file and displays the I&Q data versus time as well as the frequency domain (FFT) plot
Encoding=UTF-8
Exec=parrot-exec "gr_plot_fft -h"
Icon=gnuradio-grc
StartupNotify=false
Terminal=false
Type=Application
Categories=06-05-radio-tools;
X-Parrot-Package=gnuradio
