[Desktop Entry]
Name=dff
Comment=Digital Forensics Framework
Encoding=UTF-8
Exec=menuexec "dff"
Icon=parrot-dff.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-forensics;
X-Parrot-Package=dff
