[Desktop Entry]
Name=implementation6
Comment=Performs an inverse address query
Encoding=UTF-8
Exec=menuexec atk6-implementation6 
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=04-07-ipv6
X-Parrot-Package=thc-ipv6
