[Desktop Entry]
Name=powerfuzzer
Comment=Highly automated and fully customizable web fuzzer
Encoding=UTF-8
Exec=menuexecg "powerfuzzer"
Icon=parrot-menu.png
StartupNotify=false
Terminal=false
Type=Application
Categories=02-02-fuzzers;
X-Parrot-Package=powerfuzzer
