[Desktop Entry]
Name=magictree
Encoding=UTF-8
Exec=menuexecg "magictree"
Icon=parrot-magictree.png
StartupNotify=false
Terminal=false
Type=Application
Categories=12-reporting;
X-Parrot-Package=magictree
