[Desktop Entry]
Name=asc2log
Encoding=UTF-8
Exec=menuexec asc2log -h
StartupNotify=false
Terminal=true
Type=Application
Categories=13-01-can-utils
X-Parrot-Package=can-utils
