[Desktop Entry]
Name=cansend
Comment=Send a single frame
Encoding=UTF-8
Exec=menuexec cansend
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=13-01-can-utils
X-Parrot-Package=can-utils
