[Desktop Entry]
Name=thcping6
Encoding=UTF-8
Exec=menuexec atk6-thcping6
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-02-identify-live-hosts;
X-Parrot-Package=thc-ipv6
