[Desktop Entry]
Name=isotpperf
Comment=ISO15765-2 protocol performance visualisation
Encoding=UTF-8
Exec=menuexec isotpperf
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=13-01-can-utils
X-Parrot-Package=can-utils
