[Desktop Entry]
Name=Driftnet
Comment=Picks out and displays images from network traffic
Exec=menuexec "driftnet -h"
Icon=xterm
Terminal=true
Type=Application
Keywords=Sniffer;Network capture;
Categories=09-01-network-sniffers;
X-Parrot-Package=driftnet