[Desktop Entry]
Name=mitmf
Comment=Framework for Man-In-The-Middle attacks
Encoding=UTF-8
Exec=menuexec "mitmf -h"
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=09-02-network-spoofing;
X-Parrot-Package=mitmf
