[Desktop Entry]
Name=veil
Encoding=UTF-8
Exec=menuexec "veil -h"
Icon=parrot-veil-catapult-evasion.png
StartupNotify=false
Terminal=true
Type=Application
Categories=10-04-av-bypass;
Comment=generate metasploit payloads that bypass common anti-virus solutions.
X-Parrot-Package=veil
