[Desktop Entry]
Name=irpas-ass
Comment=An autonomous system scanner
Encoding=UTF-8
Exec=menuexec "ass -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=01-08-route-analysis;
X-Parrot-Package=irpas
