[Desktop Entry]
Name=Keystone Engine
Comment=Commandline tool of Keystone Assembler Framework
Encoding=UTF-8
Exec=parrot-exec --hint "see github.com/keystone-engine/keystone" kstool
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=Development
