[Desktop Entry]
Name=samdump2
Encoding=UTF-8
Exec=menuexec "samdump2 -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=05-03-local-attacks;
Comment=Retrieves syskey and extract hashes from Windows 2k/NT/XP/Vista SAM
X-Parrot-Package=samdump2
