[Desktop Entry]
Name=fping
Comment=Ping like tool that specify any number of targets on the command line, or specify a file containing the lists of targets to ping.
Encoding=UTF-8
Exec=menuexec "fping -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=01-02-identify-live-hosts;
X-Parrot-Package=fping
