[Desktop Entry]
Name=rafind2
Encoding=UTF-8
Exec=parrot-exec "rafind2 -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=07-04-radare2;
Comment=Advanced commandline hexadecimal editor
X-Parrot-Package=radare2
