[Desktop Entry]
Name=x32dbg
Encoding=UTF-8
Exec=x32dbg
Icon=parrot-ollydbg.png
StartupNotify=false
Terminal=false
Type=Application
Comment=A x64/x32 debugger for windows binaries (32 bit)
Categories=07-02-debuggers;
X-Parrot-Package=x64dbg
