[Desktop Entry]
Name=rasm2
Encoding=UTF-8
Exec=menuexec rasm2 
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=07-04-radare2;
Comment=Radare2 assembler and disassembler tool
X-Parrot-Package=radare2
