[Desktop Entry]
Name=rz_bin — Binary program info extractor
Encoding=UTF-8
Exec=parrot-exec "rz-bin -h"
Icon=parrot_rizin
StartupNotify=false
Terminal=true
Type=Application
Categories=07-05-rizin;
Comment=Get information about ELF/PE/MZ and CLASS files
X-Parrot-Package=rizin
