[Desktop Entry]
Name=hydra
Comment=Parallelized login cracker which supports numerous protocols to attack.
Encoding=UTF-8
Exec=parrot-exec --sudo "hydra -h"
Icon=parrot_hydra
StartupNotify=false
Terminal=true
Type=Application
Categories=05-01-online-attacks;
X-Parrot-Package=hydra


