[Desktop Entry]
Name=dnscat2-client
Comment=Client to run on compromised machine and connect to encrypted command-and-control (C&C) over DNS protocol
Encoding=UTF-8
Exec=parrot-exec "Run /usr/share/dnscat2-client/dnscat on target's machine"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=10-maintaining-access;
X-Parrot-Package=dnscat2-client
