[Desktop Entry]
Name=recstudio-cli
Encoding=UTF-8
Exec=menuexec "recstudio-cli"
Icon=parrot-recstudio.png
StartupNotify=false
Terminal=true
Type=Application
Categories=07-reverseengineer;
Comment=A cli reverse engineering tool.
X-Parrot-Package=recstudio
