[Desktop Entry]
Name=impacket
Comment=A collection of Python classes for working with network protocols
Encoding=UTF-8
Exec=bash -c "echo -e 'Python module to easily build and dissect network protocols\n\navailable commands:\n\nimpacket-GetUserSPNs\nimpacket-rpcdump\nimpacket-smbserver\nimpacket-netview\nimpacket-samrdump\nimpacket-wmiexec\nimpacket-ntlmrelayx\nimpacket-secretsdump';bash"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=09-sniffing-spoofing;
X-Parrot-Package=python3-impacket
