[Desktop Entry]
Name=skipfish
Encoding=UTF-8
Exec=menuexec "skipfish -h"
Icon=parrot-skipfish.png
StartupNotify=false
Terminal=true
Type=Application
Categories=03-webapp-analysis;03-05-web-vulnerability-scanners;
Comment=Web application security scanner
X-Parrot-Package=skipfish
