[Desktop Entry]
Name=Nessus start
Encoding=UTF-8
Exec=menuexec "/etc/init.d/nessusd start"
Icon=parrot-nessus.png
StartupNotify=false
Terminal=true
Type=Application
Categories=02-vulnerability-analysis;02-08-nessus;14-services;
X-Parrot-Package=nessus
