[Desktop Entry]
Name=theharvester
Encoding=UTF-8
Exec=menuexec "theharvester"
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-07-osint-analysis;
Comment=Information gathering
X-Parrot-Package=theharvester
