[Desktop Entry]
Name=bbqsql
Comment=Python blind SQL injection framework
Encoding=UTF-8
Exec=menuexec bbqsql
Icon=parrot-bbqsql.png
StartupNotify=false
Terminal=true
Type=Application
Categories=04-database-assessment;
X-Parrot-Package=bbqsql
