[Desktop Entry]
Name=olemeta
Comment=Extract all standard properties (metadata) from OLE files
Encoding=UTF-8
Exec=parrot-exec "olemeta -h"
Icon=xterm.png
StartupNotify=false
Terminal=true
Type=Application
Categories=07-06-oletools;
X-Parrot-Package=oletools
