[Desktop Entry]
Name=netmask
Comment=Determine network masks to specify a range of hosts
Encoding=UTF-8
Exec=menuexec "netmask -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=01-08-route-analysis;
X-Parrot-Package=netmask
