[Desktop Entry]
Name=weevely
Encoding=UTF-8
Exec=menuexec "weevely"
Icon=parrot-weevely.png
StartupNotify=false
Terminal=true
Type=Application
Categories=10-03-web-backdoors;top10
X-Parrot-Package=weevely
