[Desktop Entry]
Name=yersinia
Encoding=UTF-8
Exec=menuexec "yersinia --help"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=02-01-cisco-tools;09-02-network-spoofing;
Comment=A Framework for layer 2 attacks
X-Parrot-Package=yersinia
