[Desktop Entry]
Name=spike-generic_send_udp
Encoding=UTF-8
Exec=menuexec "generic_send_udp"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=02-02-fuzzers;
Comment=A network protocol fuzzing test software
X-Parrot-Package=spike
