[Desktop Entry]
Name=wpscan
Encoding=UTF-8
Exec=pentestexec "wpscan --help"
Icon=parrot-wpscan.png
StartupNotify=false
Terminal=true
Type=Application
Categories=03-webapp-analysis;03-01-cms-identification;03-05-web-vulnerability-scanners;
Comment=WordPress Security Scanner
X-Parrot-Package=wpscan