[Desktop Entry]
Name=img_stat
Comment=Display details of an image file
Encoding=UTF-8
Exec=menuexec "img_stat"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=11-08-forensic-suites;
X-Parrot-Package=sleuthkit
