[Desktop Entry]
Name=jad
Comment=Java decompiler tool (CLI)
Encoding=UTF-8
Exec=menuexec "jad"
Icon=parrot-jad.png
StartupNotify=false
Terminal=true
Type=Application
Categories=07-03-decompilers;
X-Parrot-Package=jad
