[Desktop Entry]
Name=quickhash
Encoding=UTF-8
Exec=quickhash
Icon=quickhash
StartupNotify=false
Terminal=false
Type=Application
Categories=11-forensics
X-Parrot-Package=quickhash
