[Desktop Entry]
Name=bulk_extractor
Comment=Extract features such as email addresses, credit card numbers, URLs, and other types of information from digital evidence files
Encoding=UTF-8
Exec=menuexec "bulk_extractor -h"
Icon=parrot-bulk_extractor.png
StartupNotify=false
Terminal=true
Type=Application
Categories=11-forensics;
X-Parrot-Package=bulk-extractor
