[Desktop Entry]
Name=yara
Encoding=UTF-8
Exec=menuexec "yara"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=11-forensics;
Comment=identify and classify malware samples 
X-Parrot-Package=yara
