[Desktop Entry]
Name=cisco-torch
Comment=Mass scanning, fingerprinting, and exploitation tool
Encoding=UTF-8
Exec=menuexec "cisco-torch"
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-01-cisco-attacks;02-01-cisco-tools;
X-Parrot-Package=cisco-torch
