[Desktop Entry]
Name=jls
Comment=List the contents of a file system journal
Encoding=UTF-8
Exec=menuexec "jls"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=11-08-forensic-suites;
X-Parrot-Package=sleuthkit
