[Desktop Entry]
Name=ewfexport
Comment=Export media data stored in Expert Witness Compression Format files
Encoding=UTF-8
Exec=menuexec ewfexport -h 
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=11-07-forensic-imaging-tools;
X-Parrot-Package=ewf-tools
