[Desktop Entry]
Name=sipp
Encoding=UTF-8
Exec=menuexec "sipp -h"
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=02-03-voip-tools;
Comment=Traffic generator for the SIP protocol
X-Parrot-Package=sipp
