[Desktop Entry]
Name=dnmap-server
Comment=A framework to distribute nmap scans among several server
Encoding=UTF-8
Exec=menuexec "dnmap_server"
Icon=parrot-dnmap.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-info-gathering;
X-Parrot-Package=dnmap
