[Desktop Entry]
Name=mdb-tables
Comment=Get listing of tables in an MDB database
Encoding=UTF-8
Exec=menuexec mdb-tables 
Icon=parrot-bdb-sql.png
StartupNotify=false
Terminal=true
Type=Application
Categories=04-database-assessment;
X-Parrot-Package=mdbtools
