[Desktop Entry]
Name=isotptun
Comment=Create a bi-directional IP tunnel on CAN via ISO-TP
Encoding=UTF-8
Exec=menuexec isotptun
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=13-01-can-utils
X-Parrot-Package=can-utils
