[Desktop Entry]
Name=chaosreader
Encoding=UTF-8
Exec=menuexec "chaosreader"
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=09-01-network-sniffers;
X-Parrot-Package=chaosreader
