[Desktop Entry]
Name=thcping6
Encoding=UTF-8
Exec=menuexec atk6-thcping6
Icon=xterm
StartupNotify=false
Terminal=true
Type=Application
Categories=01-02-identify-live-hosts;
Comment=Craft your special icmpv6 echo request packet
X-Parrot-Package=thc-ipv6
