[Desktop Entry]
Name=giskismet
Encoding=UTF-8
Exec=menuexec "giskismet -h"
Icon=parrot-kismet.png
StartupNotify=false
Terminal=true
Type=Application
Categories=06-01-wireless-tools
X-Parrot-Package=giskismet
