[Desktop Entry]
Name=macchanger
Comment=Change MAC address
Encoding=UTF-8
Exec=parrot-exec --sudo "macchanger -h"
Icon=parrot_macchanger
StartupNotify=false
Terminal=true
Type=Application
Categories=09-sniffing-spoofing;
X-Parrot-Package=macchanger
