[Desktop Entry]
Name=Start PostgreSQL server
Comment=Start postgresql database service
Encoding=UTF-8
Exec=servicexc postgresql start
Icon=/usr/share/icons/parrot-common/parrot-postgresql.png
StartupNotify=false
Terminal=false
Type=Application
Categories=serv-03-database;;
X-Parrot-Package=postgresql
