[Desktop Entry]
Name=Restart MySQL/MariaDB
Comment=Restart mariadb database service
Encoding=UTF-8
Exec=servicexc mariadb restart
Icon=/usr/share/icons/parrot-common/parrot-mysql.png
StartupNotify=false
Terminal=false
Type=Application
Categories=serv-03-database;
X-Parrot-Package=mariadb-server
