[Desktop Entry]
Name=Restart Apache Webserver
Comment=Restart Apache2 web service
Encoding=UTF-8
Exec=servicexc apache2 restart 
Icon=xterm
StartupNotify=false
Terminal=false
Type=Application
Categories=serv-02-httpd;
X-Parrot-Package=apache2
