[Desktop Entry]
Name=Start PostgreSQL server
Comment=Start postgresql database service
Encoding=UTF-8
Exec=/usr/sbin/service postgresql start
Icon=parrot-menu.png
StartupNotify=false
Terminal=false
Type=Application
Categories=serv-03-database;;
X-Parrot-Package=postgresql
