[Desktop Entry]
Name=medusa
Encoding=UTF-8
Exec=menuexec "medusa -h"
Icon=parrot-medusa.png
StartupNotify=false
Terminal=true
Type=Application
Categories=05-password-attacks;
X-Parrot-Package=medusa


