[Desktop Entry]
Name=jsql
Encoding=UTF-8
Exec=menuexecg "jsql"
Icon=parrot-jsql.png
StartupNotify=false
Terminal=false
Type=Application
Categories=04-database-assessment;03-05-web-vulnerability-scanners;
X-Parrot-Package=jsql
