[Desktop Entry]
Name=sslsniff
Encoding=UTF-8
Exec=menuexec sslsniff 
Icon=parrot-menu.png
StartupNotify=false
Terminal=true
Type=Application
Categories=01-13-ssl-analysis;07-03-network-sniffers;
X-Parrot-Package=sslsniff
